html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.menu-navegacao {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    background-color: #000000;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.849);
    height: 100px;
    font-family: "Monomaniac One", serif;
    border-bottom: 5px solid #ff004c;
    backdrop-filter: blur(10px);
    font-style: italic;
    padding-right: 30px;
    z-index: 10;
}

.menu-navegacao a {
    display: flex;
    float: left;
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 15px;
    margin: 10px;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.menu-navegacao a:hover {
    background-color: #ff004c;
    transform: scale(1.1);
    padding: 27px;
    margin: 0px;
}

section {
    padding: 0;
    height: 100vh;
}

.logo-menu {
    width: 200px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0px;
}

.logo-menu img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-menu:hover {
    transform: scale(1.1);
    transition: 1s;
}

.inicio {
    background-attachment: fixed;
    background-image: url("../img/fundo-4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.logo-pagina-incial {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.logo-pagina-incial img {
    max-width: 100%;
    max-height: 100%;
}

.agende-aqui a {
    width: 100px;
    height: 60px;
    display: flex;
    position: fixed;
    right: 1px;
    bottom: 20px;
    z-index: 9;
}

.agende-aqui a:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

.estudio {
    padding: 200px 200px 0px 200px;
    background: #1E1E1E;
}

.div-estudio {
    display: flex;
    position: relative;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.849);
    background: rgba(128, 128, 128, 0.308);
    color: white;
}

.div-estudio img {
    width: 500px;
    height: auto;
    border-right: 5px solid #ff004c;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.849);
}

.div-texto h2 {
    padding: 50px 80px 50px 150px;
    align-items: top;
    font-size: 33px;
    font-style: italic;
}

.div-texto p {
    padding: 0px 150px 20px 150px;
    text-align: justify;
    line-height: 1.6;
    line-height: 1.3;
    font-size: 17px;
    font-style: italic;
}

.equipe {
    padding: 130px 200px 0px 200px;
    background-attachment: fixed;
    background-image: url("../img/sl_0210121_40570_29.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}


.div-quadro-equipe h2 {
    padding: 20px;
    font-size: 80px;
    text-align: center;
    font-style: italic;
    color: aliceblue;
    font-family: "Tourney", sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 40px;
}

.apresentacao-equipe {
    border: 2px solid #ffffff10;
    display: flex;
    position: relative;
    padding: 50px;
    border-bottom: 2px solid #ff004c;
    border-right: 2px solid #ff004c;
    border-radius: 80px 0;
    justify-content: space-between;
}

.apresentacao-equipe .div-um img {
    height: auto;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.apresentacao-equipe .div-um {
    border: 2px solid #ff004c;
    height: 450px;
    background: #212121;
    color: white;
    border: 2px solid #ffffff10;
    border-bottom: 2px solid #ff004c;
    border-right: 2px solid #ff004c;
    border-radius: 80px 0;
    width: 350px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 40px;
}

.apresentacao-equipe .div-um h1 {
    color: #ff004c;
    font-size: 25px;
    font-style: italic;
    text-transform: uppercase;
    padding: 10px;
}

.apresentacao-equipe .div-um p {
    text-align: justify;
    line-height: 1.6;
    line-height: 1.3;
    font-size: 17px;
    font-style: italic;
    word-break: break-word;
    padding: 10px;
}

.apresentacao-equipe .div-um a {
    text-decoration: none;
    color: #ff004c;
}

.apresentacao-equipe .div-dois img {
    height: auto;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.apresentacao-equipe .div-dois {
    border: 2px solid #ff004c;
    height: 450px;
    background: #212121;
    color: white;
    border: 2px solid #ffffff10;
    border-bottom: 2px solid #ff004c;
    border-right: 2px solid #ff004c;
    border-radius: 80px 0;
    width: 350px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 40px;
}

.apresentacao-equipe .div-dois h1 {
    color: #ff004c;
    font-size: 25px;
    font-style: italic;
    text-transform: uppercase;
    padding: 10px;
}

.apresentacao-equipe .div-dois p {
    text-align: justify;
    line-height: 1.6;
    line-height: 1.3;
    font-size: 17px;
    font-style: italic;
    word-break: break-word;
    padding: 10px;
}

.apresentacao-equipe .div-dois a {
    text-decoration: none;
    color: #ff004c;
}

.apresentacao-equipe .div-tres img {
    height: auto;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.apresentacao-equipe .div-tres {
    border: 2px solid #ff004c;
    height: 450px;
    background: #212121;
    color: white;
    border: 2px solid #ffffff10;
    border-bottom: 2px solid #ff004c;
    border-right: 2px solid #ff004c;
    border-radius: 80px 0;
    width: 350px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 40px;
}

.apresentacao-equipe .div-tres h1 {
    color: #ff004c;
    font-size: 20px;
    font-style: italic;
    text-transform: uppercase;
    padding: 10px;
}

.apresentacao-equipe .div-tres p {
    text-align: justify;
    line-height: 1.6;
    line-height: 1.3;
    font-size: 17px;
    font-style: italic;
    word-break: break-word;
    padding: 10px;
}

.apresentacao-equipe .div-tres a {
    text-decoration: none;
    color: #ff004c;
}

.localizacao {
    padding: 130px 200px 200px 200px;
    background: #070707;
    color: aliceblue;
    display: flex;
    height: 60vh;

}

.div-localizacao {
    font-size: 70px;
    font-style: italic;
    -webkit-text-stroke: 1px #ffffff;
    color: transparent;
    font-weight: 400;
    height: 100px;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    height: 700px;
    text-align: center;
    margin-left: 250px;
}

.mapa {
    border: 1px solid #ff004c;
    padding: 30px;
    border-radius: 60px;
    margin-left: 50px;
    width: 650px;
    height: 680px;
}

.endereco-contato {
    border: 1px solid #ff004c;
    margin-top: 30px;
    display: flex;
    padding: 30px;
    border-radius: 30px;
    justify-content: space-between;
}

#contato {
    display: flex;
    flex-wrap: wrap;
}

#contato p a {
    text-decoration: none;
    color: #ffffff;
}

#contato img {
    height: 40px;
    width: 40px;
}

#maps {
    border-radius: 30px;
    overflow: hidden;
    border: 4px solid #ffffff;
    display: block;
    width: 100%;
    height: 450px;
}

#endereco p, h2 {
    padding: 5px;
}

#contato ul li {
    display: flex;
    align-items: center;
    list-style: none;
}

footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

footer a, a:visited {
    text-decoration: none;
    color: #ffffff;
    padding-left: 2px;
}
